@model int

<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! you are one step closer to amazing food</h1>
    <p class="pb-3">We have recieved your order you will get your food within 30mins during regular business hours!.</p>
    <h4 class="text-warning pb-3">Your orderId is @Model</h4>
    <img src="/Images/mango.png" width="10%" />
</div>
